{% extends 'base.html' %}

{% block title %} 
    COURSE PAGE
{% endblock %}

{% block body %} 
    <div style="margin-left: 150px;" class="bar-container1">
        <h1 style="color: navy;"> Course Dashboard</h1>
        <h3 style="color: blue;text-align: center;">Course Registration</h3>
    </div>

    <div style="display: flex;justify-content: center;">
        <div class="col-xl-8">
          <!-- Course Creation card-->
          <br>
          <br>
          <div class="card mb-4" style="margin-left: 20px;">
              <div class="card-header" style="color: navy;font-weight: bold;font-size: 22px;text-align: center;border-bottom: 5px solid lightgray;">Register Your School Courses</div>
              <div class="card-body">
                  <form action="/register/course" method="post">
                      <div class="row gx-3 mb-3">
                          <!-- Form Group (course title)-->
                          <div class="col-md-6">
                              <label style="color: red;font-weight: bold;" class="small mb-1" for="course_title">Course Title</label>
                              <input class="form-control" id="course_title"name="course_title" type="text" placeholder="Enter your Course Title" >
                          </div>
                          <!-- Form Group (course code)-->
                          <div class="col-md-6">
                              <label style="color: red;font-weight: bold;" class="small mb-1" for="course_code">Course Code</label>
                              <input class="form-control" id="course_code"name="course_code" type="text" placeholder="Enter your Course Code" >
                          </div>
                      </div>
                      <div class="row gx-3 mb-3">
                        <!-- Form Group (course unit)-->
                        <div class="col-md-6">
                            <label style="color: red;font-weight: bold;" class="small mb-1" for="course_unit">Course Unit</label>
                            <input class="form-control" id="course_unit"name="course_unit" type="text" placeholder="Enter your Course Unit">
                        </div>
                        <!-- Form Group (matric number)-->
                        <div class="col-md-6">
                            <label style="color: red;font-weight: bold;" class="small mb-1" for="matric_no">Matric No</label>
                            <input class="form-control" id="matric_no" name="matric_no" type="number" placeholder="Enter Matric No">
                        </div>
                    </div>
                      <!-- Form Row        -->
                      <div class="row gx-3 mb-3">
                          <!-- Form Group (level)-->
                          <div class="col-md-6">
                              <label style="color: red;font-weight: bold;" class="small mb-1" for="level">Level</label>
                              <input class="form-control" id="level" name="level" type="text" placeholder="Enter your Level" >
                          </div>
                          <!-- Form Group (score)-->
                          <div class="col-md-6">
                              <label style="color: red;font-weight: bold;" class="small mb-1" for="score">Score</label>
                              <input class="form-control" id="score"name="score" type="text" placeholder="Enter Your Score" >
                          </div>
                      </div>
                      <center>
                        <button style="background: green;" class="btn btn-primary" type="submit">Create Course</button>
                      </center>
                      
                  </form>
              </div>
          </div>
        </div>
    </div>
{% endblock %}